/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: sans-serif !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #00008b !default;
$selection-bg: rgba(0, 0, 0, 0.99);
$presentation-heading-color: #002060 !default;

// headings
$presentation-heading-font: sans-serif !default;
